.Discount {
	color: #fff;
	padding: 100px 0;
	background: linear-gradient(94deg, #fc0 7.54%, rgba(255, 204, 0, 0) 100%);

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 50px;
	}

	.content {
		max-width: 583px;
	}

	.title {
		font-weight: 700;
		font-size: 55px;
	}

	.subTitle {
		font-weight: 600;
		font-size: 26px;
		margin: 30px 0 50px 0;
	}

	.inner {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	.link {
		width: 170px;
		height: 50px;
		border-radius: 10px;

		&:nth-child(1) {
			background: url('../../../public/Discount/google.png') no-repeat
				center/contain;
		}

		&:nth-child(2) {
			background: url('../../../public/Discount/apple.png') no-repeat
				center/contain;
		}
	}

	.imgWrapper {
		width: 100%;
		max-width: 530px;
		height: 530%;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

@media (max-width: 768px) {
	.Discount {
		background-color: #fc0;
		.imgWrapper {
			display: none;
		}
	}
}

@media (max-width: 500px) {
	.Discount {
		.title {
			font-size: 45px;
		}

		.subTitle {
			font-size: 22px;
		}

		.link {
			width: 120px;
			height: 45px;
			border-radius: 10px;
		}
	}
}
