.Outlets {
	padding: 70px 0;
	background-color: #f5f5f5;

	.upTitle {
		color: #fc0;
		font-weight: 600;
		font-size: 18px;
		margin-bottom: 10px;
		display: block;
		text-align: center;
	}

	.title {
		font-weight: 600;
		font-size: 55px;
		text-align: center;
		margin-bottom: 25px;
	}

	.list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
		flex-wrap: wrap;
	}

	.item {
		max-width: 370px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 10px;
		text-align: center;
	}

	.itemText {
		font-weight: 700;
		font-size: 20px;
	}
}
