.Outlets {
	padding: 70px 0;
	background-color: #f5f5f5;

	.upTitle {
		color: #fc0;
		font-weight: 600;
		font-size: 18px;
		margin-bottom: 10px;
		display: block;
		text-align: center;
	}

	.title {
		font-weight: 600;
		font-size: 55px;
		text-align: center;
		margin-bottom: 25px;
	}

	.list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
		flex-wrap: wrap;
	}

	.item {
		max-width: 370px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 10px;
		text-align: center;
	}

	.itemText {
		font-weight: 700;
		font-size: 20px;
	}
}

@media (max-width: 991px) {
	.Outlets {
		.title {
			font-size: 40px;
		}
		.imgWrapper {
			max-width: 300px;
			height: 400px;

			& img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
}

@media (max-width: 500px) {
	.Outlets {
		.title {
			font-size: 25px;
		}
		.imgWrapper {
			height: 300px;
			max-width: 250px;
		}

		.itemText {
			font-size: 14px;
		}

		.item {
			max-width: 320px;
		}
	}
}
