.Categories {
	.upTitle {
		text-align: center;
		font-weight: 600;
		font-size: 18px;
		color: #fc0;
		margin-bottom: 10px;
		display: block;
	}

	.title {
		font-weight: 600;
		font-size: 55px;
		text-align: center;
		margin-bottom: 100px;
	}

	.foodType {
		display: flex;
		gap: 30px;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 40px;
	}

	.foodItem {
		max-width: 250px;
		text-align: center;
		margin: 0 auto;
	}

	.foodTitle {
		font-weight: 700;
		font-size: 24px;
		margin: 15px 0;
	}

	.foodText {
		font-weight: 600;
		font-size: 20px;
	}

	.delivery {
		padding: 50px 0;
		color: #fff;
		background-color: #fc0;
	}

	.deliveryWrapper {
		gap: 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.deliveryItem {
		display: flex;
		gap: 20px;
		align-items: center;
		flex-direction: column;
		text-align: center;
		max-width: 380px;
		margin: 0 auto;
	}

	.iconWrapper {
		width: 115px;
		height: 115px;
		border-radius: 50%;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.deliveryTitle {
		font-weight: 700;
		font-size: 20px;
	}

	.deliveryText {
		font-weight: 600;
		font-size: 18px;
	}
}

@media (max-width: 991px) {
	.Categories {
		.title {
			margin-bottom: 25px;
			font-size: 40px;
		}

		.imgWrapper {
			max-width: 180px;
			height: 180px;
			margin: 0 auto;

			& img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		.foodTitle {
			margin: 0;
		}

		.deliveryText {
			font-weight: 400;
		}
	}
}

@media (max-width: 768px) {
	.Categories {
		.iconWrapper {
			width: 80px;
			height: 80px;
		}
		.deliveryTitle {
			font-size: 15px;
		}

		.deliveryText {
			font-size: 14px;
		}
		.deliveryItem {
			max-width: 220px;
		}
	}
}

@media (max-width: 500px) {
	.Categories {
		.title {
			font-size: 30px;
		}

		.imgWrapper {
			width: 120px;
			height: 120px;
		}

		.foodText {
			font-size: 17px;
		}

		.deliveryTitle {
			font-size: 20px;
		}

		.deliveryText {
			font-size: 16px;
		}

		.deliveryItem {
			max-width: 80%;
		}
	}
}
