.Delivery {
	padding: 100px 0;
	.wrapper {
		gap: 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.content {
		width: 100%;
		max-width: 585px;
	}
	.upTitle {
		color: #fc0;
		font-weight: 600;
		font-size: 18px;
	}

	.title {
		position: relative;
		font-weight: 600;
		font-size: 55px;
		margin-bottom: 15px;

		&::after {
			content: '';
			position: absolute;
			width: 10%;
			height: 4px;
			left: 0;
			bottom: 0;
			background-color: #fc0;
		}
	}

	.textBold {
		font-weight: 600;
		font-size: 26px;
		margin-bottom: 15px;
	}

	.text {
		font-weight: 400;
		font-size: 17px;
		margin-bottom: 50px;
	}

	.list {
		gap: 30px;
		display: flex;
		align-items: center;
	}

	.item {
		max-width: 277px;
	}

	.itemTitle {
		font-weight: 600;
		font-size: 20px;
		margin-bottom: 10px;
	}

	.imgWrapper {
		width: 100%;
		max-width: 585px;
		height: 585px;

		flex-shrink: 1;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 100%;
		}
	}
}
