.Partners {
	padding: 70px 0;
	.list {
		gap: 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.partnersItem {
		width: 100%;
		max-width: 200px;
		margin: 0 auto;
	}
}
