.Partners {
	padding: 70px 0;
	.list {
		gap: 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.partnersItem {
		width: 100%;
		max-width: 200px;
		margin: 0 auto;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

@media (max-width: 500px) {
	.Partners {
		.partnersItem {
			max-width: 120px;
		}
	}
}
