.Footer {
	padding: 80px 0;

	.list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 40px;
		margin-bottom: 100px;
	}

	.item {
		max-width: 380px;
		display: flex;
		flex-direction: column;
	}

	.iconsWrapper {
		display: flex;
		align-items: center;
		gap: 20px;
		margin-top: 50px;
	}

	.text {
		font-weight: 400;
		font-size: 17px;
	}

	.logo {
		font-weight: 600;
		font-size: 24px;
		margin-bottom: 50px;
		color: #fc0;
	}

	.title {
		font-weight: 600;
		font-size: 24px;
		margin-bottom: 50px;
	}

	.links {
		font-weight: 400;
		font-size: 17px;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	.copyright {
		display: flex;
		align-items: center;
		justify-content: space-between;

		& span {
			font-weight: 400;
			font-size: 18px;
		}
	}
}
